.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}
h1{
    text-align: center;
    color: cornflowerblue;
}
